<!-- your html code here -->
<section id="portfolio" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-start mb-5">Portfolio</h2>
     <p class="text-start mt-0">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="row">
 
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://placedog.net/700/400" class="card-img-top" alt="Project Image">
        </div>
        <h3 class="text-start mb-5  text-primary">Project</h3>

      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/700/400" class="card-img-top" alt="Project Image">
        </div>
                <h3 class="text-start mb-5  text-primary">Project</h3>
      </div> 
           <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/id/237/700/400" class="card-img-top" alt="Project Image">
        </div>
                <h3 class="text-start mb-5  text-primary">Project</h3>
      </div>  
 
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <p class="text-start mt-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
      </div>
            <div class="col-md-4 mb-4">
        <p class="text-start mt-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
      </div>
            <div class="col-md-4 mb-4">
        <p class="text-start mt-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
      </div>
    </div>
  </div>
</section>